<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/intro.css'%}">
</head>

<body>
    <h1>SHARAN KUMAR</h1>
    <h2>SHARAN KUMAR</h2>
    <h3>SHARAN KUMAR</h3>
    <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab provident dolore dolores corrupti inventore sed in,
        eaque repellendus. Non numquam itaque temporibus placeat cum tenetur eligendi dolorem laudantium! Maiores,
        cupiditate!</P>
    <style>
        h1{
          color: yellow;
          background-color: black;
          text-align: center;  
        }
        h2{
            color: aqua;
            background-color: black;
            text-align: center;
        }
        h3{
            color: orangered;
            background-color: black;
            text-align: center;
        }